body{
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    margin-top: 20px;
    color: white;
    font-size: 45px;
    text-shadow: blue;
    font-family: sans-serif;
}
img{
    margin-top: 100px;
    align-items: left;
    margin-left: 20px;
    display: block;
    width: 400px;
    height: 500px;
}
p{
    color: whitesmoke;
    font-size: 2rem;
    margin-left: 20px;
    font-family: sans-serif;
}
nav{
    max-width: 100%;
    margin: auto;
    font-size: 1.3rem;
    margin-top: 50px;
    font-family: sans-serif;
}
.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu-horizontal li a{
    display: block;
    padding: 10px 5px;
    color: white;
    text-decoration: none;
}
.menu-horizontal li:hover{
    background-color: rgba(0, 0, 0, .5);
}
.menu-vertical{
    position: relative;
    display: none;
    list-style: none;
    width: 200px;
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
}
.menu-vertical li a:hover{
    color: black;
    background-color: white;
}
.inicio{
    color: white;
}